@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
    background: rgba(101, 66, 66, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
}

.bg-modal {
    background: rgba(51, 51, 51, 0.66);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
}

.bg-player {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

body {
    color: white;
}